# 2_Demographic Data Analyzer

In this challenge you must analyze demographic data using Pandas. You are given a dataset of demographic data that was extracted from the 1994 Census database. Here is a sample of what the data looks like:

|    |   age | workclass        |   fnlwgt | education   |   education-num | marital-status     | occupation        | relationship   | race   | sex    |   capital-gain |   capital-loss |   hours-per-week | native-country   | salary   |
|---:|------:|:-----------------|---------:|:------------|----------------:|:-------------------|:------------------|:---------------|:-------|:-------|---------------:|---------------:|-----------------:|:-----------------|:---------|
|  0 |    39 | State-gov        |    77516 | Bachelors   |              13 | Never-married      | Adm-clerical      | Not-in-family  | White  | Male   |           2174 |              0 |               40 | United-States    | <=50K    |
|  1 |    50 | Self-emp-not-inc |    83311 | Bachelors   |              13 | Married-civ-spouse | Exec-managerial   | Husband        | White  | Male   |              0 |              0 |               13 | United-States    | <=50K    |
|  2 |    38 | Private          |   215646 | HS-grad     |               9 | Divorced           | Handlers-cleaners | Not-in-family  | White  | Male   |              0 |              0 |               40 | United-States    | <=50K    |
|  3 |    53 | Private          |   234721 | 11th        |               7 | Married-civ-spouse | Handlers-cleaners | Husband        | Black  | Male   |              0 |              0 |               40 | United-States    | <=50K    |
|  4 |    28 | Private          |   338409 | Bachelors   |              13 | Married-civ-spouse | Prof-specialty    | Wife           | Black  | Female |              0 |              0 |               40 | Cuba             | <=50K    |


You must use Pandas to answer the following questions:
* How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (`race` column)
* What is the average age of men?
* What is the percentage of people who have a Bachelor's degree?
* What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
* What percentage of people without advanced education make more than 50K?
* What is the minimum number of hours a person works per week?
* What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
* What country has the highest percentage of people that earn >50K and what is that percentage?
* Identify the most popular occupation for those who earn >50K in India. 

Use the starter code in the file `demographic_data_analyzer`. Update the code so all variables set to "None" are set to the appropriate calculation or code. Round all decimals to the nearest tenth.

In [124]:
import pandas as pd

In [125]:
# Read data from file
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [126]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df.groupby(['race']).size().sort_values(ascending=False)
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
dtype: int64

In [127]:
# What is the average age of men?
average_age_men = df[df["sex"] == "Male"]["age"].mean()
average_age_men

39.43354749885268

In [128]:
# What is the percentage of people who have a Bachelor's degree?
total_percent = 100 / len(df)
percentage_bachelors = len(df[df["education"] == "Bachelors"]) * total_percent
percentage_bachelors

16.446055096587944

In [129]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

adv_education = ["Bachelors", "Masters",  "Doctorate"]
# with and without `Bachelors`, `Masters`, or `Doctorate`
#==========================
# wrong way
# temp = df["education"].tolist()
# temp2 = [val in adv_education for val in temp]  # return boolean inc false value
# temp3 = temp[temp2] # error, basic python cannot use this
#==========================

higher_education = df[df["education"].isin(adv_education)]
print('higher_education:', len(higher_education))
lower_education = df[~df["education"].isin(adv_education)]

# percentage with salary >50K
higher_education_rich = len(higher_education[higher_education["salary"] == ">50K"]) * 100 / len(higher_education)
print('higher_education_rich:', higher_education_rich)
lower_education_rich = len(lower_education[lower_education["salary"] == ">50K"]) * 100 / len(lower_education)
print('lower_education_rich:', lower_education_rich)

higher_education: 7491
higher_education_rich: 46.535843011613935
lower_education_rich: 17.3713601914639

In [130]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df["hours-per-week"].min()
print('min_work_hours:', min_work_hours)

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = len(df[ df["hours-per-week"] == min_work_hours])
print('num_min_workers:', num_min_workers)

min_work_hours: 1
num_min_workers: 20

In [131]:
rich_percentage =  len(df[(df["salary"] == ">50K") & (df["hours-per-week"] == min_work_hours)] ) * 100 / num_min_workers
rich_percentage

10.0

In [132]:
# What country has the highest percentage of people that earn >50K?
groupby_country = df.groupby("native-country").size().sort_values(ascending=False)
print('groupby_country:\n', groupby_country)
rich_in_country = []
highest_earning_country = df[df["salary"] == ">50K"].groupby("native-country").size()
# print('highest_earning_country:\n', highest_earning_country)
highest_earning_country_percentage = None

# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = None

groupby_country:
 native-country
United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
Greece                           29
France                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Hungary                          13
Honduras                         13
Scotland                         12
Holand-Netherlands                1
dtype: int64