# 2_Demographic Data Analyzer

In this challenge you must analyze demographic data using Pandas. You are given a dataset of demographic data that was extracted from the 1994 Census database. Here is a sample of what the data looks like:

|    |   age | workclass        |   fnlwgt | education   |   education-num | marital-status     | occupation        | relationship   | race   | sex    |   capital-gain |   capital-loss |   hours-per-week | native-country   | salary   |
|---:|------:|:-----------------|---------:|:------------|----------------:|:-------------------|:------------------|:---------------|:-------|:-------|---------------:|---------------:|-----------------:|:-----------------|:---------|
|  0 |    39 | State-gov        |    77516 | Bachelors   |              13 | Never-married      | Adm-clerical      | Not-in-family  | White  | Male   |           2174 |              0 |               40 | United-States    | <=50K    |
|  1 |    50 | Self-emp-not-inc |    83311 | Bachelors   |              13 | Married-civ-spouse | Exec-managerial   | Husband        | White  | Male   |              0 |              0 |               13 | United-States    | <=50K    |
|  2 |    38 | Private          |   215646 | HS-grad     |               9 | Divorced           | Handlers-cleaners | Not-in-family  | White  | Male   |              0 |              0 |               40 | United-States    | <=50K    |
|  3 |    53 | Private          |   234721 | 11th        |               7 | Married-civ-spouse | Handlers-cleaners | Husband        | Black  | Male   |              0 |              0 |               40 | United-States    | <=50K    |
|  4 |    28 | Private          |   338409 | Bachelors   |              13 | Married-civ-spouse | Prof-specialty    | Wife           | Black  | Female |              0 |              0 |               40 | Cuba             | <=50K    |


You must use Pandas to answer the following questions:
* How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (`race` column)
* What is the average age of men?
* What is the percentage of people who have a Bachelor's degree?
* What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
* What percentage of people without advanced education make more than 50K?
* What is the minimum number of hours a person works per week?
* What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
* What country has the highest percentage of people that earn >50K and what is that percentage?
* Identify the most popular occupation for those who earn >50K in India. 

Use the starter code in the file `demographic_data_analyzer`. Update the code so all variables set to "None" are set to the appropriate calculation or code. Round all decimals to the nearest tenth.

In [25]:
import pandas as pd

In [26]:
# Read data from file
df = pd.read_csv('adult.data.csv')
df.head(12)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K

In [67]:
race_count = df.groupby("race").size().sort_values(ascending=False)
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
dtype: int64

In [69]:
# What is the average age of men?
average_age_men = df[df["sex"] == "Male"]["age"].mean()
average_age_men

39.43354749885268

In [29]:
# What is the percentage of people who have a Bachelor's degree?
total_percent = 100 / len(df)
percentage_bachelors = len(df[df["education"] == "Bachelors"]) * total_percent
percentage_bachelors

16.446055096587944

In [30]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

adv_education = ["Bachelors", "Masters", "Doctorate"]
# with and without `Bachelors`, `Masters`, or `Doctorate`
# ==========================
# wrong way
# temp = df["education"].tolist()
# temp2 = [val in adv_education for val in temp]  # return boolean inc false value
# temp3 = temp[temp2] # error, basic python cannot use this
# ==========================

higher_education = df[df["education"].isin(adv_education)]
print("higher_education:", len(higher_education))
lower_education = df[~df["education"].isin(adv_education)]

# percentage with salary >50K
higher_education_rich = (
    len(higher_education[higher_education["salary"] == ">50K"])
    * 100
    / len(higher_education)
)
print("higher_education_rich:", higher_education_rich)
lower_education_rich = (
    len(lower_education[lower_education["salary"] == ">50K"])
    * 100
    / len(lower_education)
)
print("lower_education_rich:", lower_education_rich)

higher_education: 7491
higher_education_rich: 46.535843011613935
lower_education_rich: 17.3713601914639

In [31]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df["hours-per-week"].min()
print('min_work_hours:', min_work_hours)

min_work_hours: 1

In [32]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = len(df[ df["hours-per-week"] == min_work_hours])
print('num_min_workers:', num_min_workers)
rich_percentage = (
    len(df[(df["salary"] == ">50K") & (df["hours-per-week"] == min_work_hours)])
    * 100
    / num_min_workers
)
print('rich_percentage:\n', rich_percentage)

num_min_workers: 20
rich_percentage:
 10.0

In [33]:
# What country has the highest percentage of people that earn >50K?
# must reset_index to turn the Series form size to DataFrame and merge
# https://stackoverflow.com/questions/40468069/merge-two-dataframes-by-index/40468090
# if dont reset index, the datatype is Series
countries = df.groupby("native-country").size().reset_index()

rich_in_country = (
    df[df["salary"] == ">50K"].groupby("native-country").size().reset_index()
)

In [34]:
percent_rich_countries = countries.merge(
    rich_in_country, how="inner", on="native-country"
)
percent_rich_countries.rename(
    columns={
        percent_rich_countries.columns[1]: "Total",
        percent_rich_countries.columns[2]: "Rich",
    },
    inplace=True,
)
percent_rich_countries["Percent"] = (
    round(percent_rich_countries["Rich"] * 100 / percent_rich_countries["Total"],2)
)
percent_rich_countries.sort_values(by="Percent",ascending = False, inplace = True)
# print('percent_rich_countries:\n', percent_rich_countries)
percent_rich_countries.head()

   native-country  Total  Rich  Percent
19           Iran     43    18    41.86
10         France     29    12    41.38
18          India    100    40    40.00
34         Taiwan     51    20    39.22
23          Japan     62    24    38.71

In [35]:
id_maxPercent = percent_rich_countries["Percent"].idxmax()
highest_earning_country = percent_rich_countries["native-country"][id_maxPercent]
highest_earning_country_percentage = percent_rich_countries["Percent"][id_maxPercent]
print('highest_earning_country:\n', highest_earning_country)
print('highest_earning_country_percentage:\n', highest_earning_country_percentage)

highest_earning_country:
 Iran
highest_earning_country_percentage:
 41.86

In [42]:
# Identify the most popular occupation for those who earn >50K in India.
rich_India = df[(df["native-country"] == "India") & (df["salary"] == ">50K")][
    ["occupation", "native-country", "salary"]
]

# print('rich_India:\n', rich_India)

In [63]:
top_job = rich_India["occupation"].value_counts().reset_index()

print('type(top_job):\n', type(top_job))
print("top_job:\n", top_job)

type(top_job):
 <class 'pandas.core.frame.DataFrame'>
top_job:
               index  occupation
0    Prof-specialty          25
1   Exec-managerial           8
2     Other-service           2
3      Tech-support           2
4  Transport-moving           1
5             Sales           1
6      Adm-clerical           1

In [65]:
top_IN_occupation = top_job[:-1]["index"][0]
top_IN_occupation

'Prof-specialty'

In [70]:
top_India_Job = (
        df[(df["native-country"] == "India") & (df["salary"] == ">50K")]["occupation"]
        .value_counts()
        .reset_index()
    )
print('top_India_Job:\n', top_India_Job)

top_India_Job:
               index  occupation
0    Prof-specialty          25
1   Exec-managerial           8
2     Other-service           2
3      Tech-support           2
4  Transport-moving           1
5             Sales           1
6      Adm-clerical           1