### Doc cac tap tin csv: 'iris_setosa.csv', 'iris_versicolor.csv', 'iris_virginica.csv'
### va tron lai (concat) thanh mot dataframe

In [1]:
import numpy as np
import pandas as pd

In [14]:
file_names = ['iris_setosa.csv', 'iris_versicolor.csv', 'iris_virginica.csv']

In [15]:
lists = []
for name in file_names:
    data = pd.read_csv(name)  
    lists.append(data)
df = pd.concat(lists, ignore_index=False)

In [16]:
df.shape

(150, 6)

In [17]:
df.head()

,Id,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal Width (cm),Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa

In [18]:
df.tail()

,Id,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal Width (cm),Species
45,146,6.7,3.0,5.2,2.3,Iris-virginica
46,147,6.3,2.5,5.0,1.9,Iris-virginica
47,148,6.5,3.0,5.2,2.0,Iris-virginica
48,149,6.2,3.4,5.4,2.3,Iris-virginica
49,150,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
df.Species.value_counts()

Iris-virginica     50
Iris-setosa        50
Iris-versicolor    50
Name: Species, dtype: int64

In [8]:
import glob

In [9]:
file_names = glob.glob('iris*.csv')

In [10]:
lists = []
for name in file_names:
    data = pd.read_csv(name)  
    lists.append(data)
df = pd.concat(lists, ignore_index=True)

In [11]:
df.shape

(150, 6)

In [12]:
df.head()

,Id,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal Width (cm),Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa

In [13]:
df.tail()

,Id,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal Width (cm),Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica