- Ví dụ 01: array một chiều

In [1]:
import numpy as np

In [2]:
# khoi tao numpy array tu python list
ages_list = [34,45,27,25,18,36,42]

In [3]:
ages_arr = np.array(ages_list)

In [4]:
type(ages_list)

list

In [5]:
ages_list

[34, 45, 27, 25, 18, 36, 42]

In [6]:
type(ages_arr)

numpy.ndarray

In [7]:
ages_arr

array([34, 45, 27, 25, 18, 36, 42])

In [7]:
len(ages_list)

7

In [8]:
ages_arr.size

7

In [10]:
ages_arr.shape

(7,)

In [9]:
# tham số dtype
marks_str = '4.5,7.8,9.0,6.3,10.0,7.9'
marks_list = marks_str.split(',')
marks_list

['4.5', '7.8', '9.0', '6.3', '10.0', '7.9']

In [10]:
marks_arr = np.array(marks_list, dtype=np.float64)

In [11]:
marks_arr

array([ 4.5,  7.8,  9. ,  6.3, 10. ,  7.9])

In [12]:
# tham số ndmin
ages_list = [34,45,27,25,18,36,42]

In [13]:
ages_arr = np.array(ages_list, dtype=np.float64, ndmin=2)

In [14]:
ages_arr

array([[34., 45., 27., 25., 18., 36., 42.]])

In [16]:
ages_arr.shape

(1, 7)

In [15]:
arr_2 = np.array([[1,2,3],[4,5,6]])
arr_2

array([[1, 2, 3],
       [4, 5, 6]])

In [17]:
arr_2.shape

(2, 3)

In [18]:
ages_arr = np.array(ages_list, dtype=np.float64, ndmin=3)

In [19]:
ages_arr

array([[[34., 45., 27., 25., 18., 36., 42.]]])

In [20]:
ages_arr.shape

(1, 1, 7)

In [22]:
# broadcasting
salaries = np.array([1000,1200,1000,1500,2000,1700])
salaries

array([1000, 1200, 1000, 1500, 2000, 1700])

In [23]:
bonus = salaries+500

In [24]:
bonus

array([1500, 1700, 1500, 2000, 2500, 2200])

In [25]:
# dung list
salaries = [1000,1200,1000,1500,2000,1700]
salaries

[1000, 1200, 1000, 1500, 2000, 1700]

In [26]:
bonus = [sal+500 for sal in salaries]

In [27]:
bonus

[1500, 1700, 1500, 2000, 2500, 2200]

In [28]:
# tim max
salaries = np.array([1000,1200,1000,1500,2000,1700])

In [29]:
np.max(salaries)

2000

In [30]:
salaries.max()

2000

In [31]:
# sap tang
sal_asc = np.sort(salaries)
sal_asc

array([1000, 1000, 1200, 1500, 1700, 2000])

In [32]:
sal_desc = sal_asc[::-1]
sal_desc

array([2000, 1700, 1500, 1200, 1000, 1000])

In [34]:
salaries

array([1000, 1200, 1000, 1500, 2000, 1700])

In [33]:
# tim indexes
np.where(salaries>1200)

(array([3, 4, 5], dtype=int64),)

In [36]:
idx = np.where(salaries>1200)
salaries[idx]

array([1500, 2000, 1700])

In [37]:
# tim gia tri
np.extract(salaries>1200, salaries)

array([1500, 2000, 1700])

In [40]:
np.extract(salaries==1000, salaries)

array([1000, 1000])

In [39]:
np.extract((salaries>=1200) & (salaries<=1700), salaries)

array([1200, 1500, 1700])

In [43]:
np.extract((salaries<1200) | (salaries>1700), salaries)

array([1000, 1000, 2000])

In [44]:
np.extract(salaries!=1000, salaries)

array([1200, 1500, 2000, 1700])